/* Based on Sublime Text's Monokai theme */

.cm-s-phoebe.CodeMirror { background: #282923; color: #f8f8f2; }
.cm-s-phoebe div.CodeMirror-selected { background: #49483E; }
.cm-s-phoebe .CodeMirror-line::selection, .cm-s-phoebe .CodeMirror-line > span::selection, .cm-s-phoebe .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-phoebe .CodeMirror-line::-moz-selection, .cm-s-phoebe .CodeMirror-line > span::-moz-selection, .cm-s-phoebe .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-phoebe .CodeMirror-gutters { background: #272822; border-right: 0px; }
.cm-s-phoebe .CodeMirror-guttermarker { color: white; }
.cm-s-phoebe .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-phoebe .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-phoebe .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-phoebe span.cm-comment, span.cm-brackets { color: #75715e; }
.cm-s-phoebe span.cm-atom { color: #ae81ff; }
.cm-s-phoebe span.cm-number { color: #c5f2f8; }
.cm-s-phoebe span.cm-month {color: #a6e22e; }
.cm-s-phoebe span.cm-day {color: #f0804c}

.cm-s-phoebe span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-phoebe span.cm-comment.cm-def { color: #bc9262; }
.cm-s-phoebe span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-phoebe span.cm-comment.cm-type { color: #5998a6; }
.cm-s-phoebe span.cm-link-name { color: #f92672; }

.cm-s-phoebe span.cm-property, .cm-s-phoebe span.cm-attribute { color: #a6e22e; }
.cm-s-phoebe span.cm-keyword { color: #6967e7; }
.cm-s-phoebe span.cm-builtin { color: #66d9ef; }
.cm-s-phoebe span.cm-string { color: #e6db74; }

.cm-s-phoebe span.cm-variable { color: #f8f8f2; }
.cm-s-phoebe span.cm-code { color: #f8f8f2; background: #3B3C37;}
.cm-s-phoebe span.cm-variable-3, .cm-s-phoebe span.cm-type { color: #66d9ef; }
.cm-s-phoebe span.cm-def { color: #fd971f; }
.cm-s-phoebe span.cm-bracket { color: #f8f8f2; }
.cm-s-phoebe span.cm-tag { color: #66d9ef; font-weight: bold;}
.cm-s-phoebe span.cm-header { color: #f92672; font-weight: bolder;}
.cm-s-phoebe span.cm-header-2 { color: #fd971f; font-weight: bolder;}
.cm-s-phoebe span.cm-h-text { color: #f8f8f2; font-weight: bolder;}
.cm-s-phoebe span.cm-link { color: #63e6fd; text-decoration: underline;}
.cm-s-phoebe span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-phoebe .CodeMirror-activeline-background { background: #373831; }
.cm-s-phoebe .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
