* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CodeMirror {
  text-align: left !important;
  height: 96% !important;
  font-size: 20px !important;
  font-family: "Roboto Mono" !important;
}

#tabArea {
  height: 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #49483E;
}

#add {
  font-weight: bolder;
  color: white;
  width: 4%;
  height: 100%;
  background-color: #272822;
  margin: 5px 0 0;
  padding: 5px 10px 10px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px
}

.tab {
  color: white;
  height: 100%;
  background-color: #272822;
  margin: 5px 0 0;
  padding: 5px 10px 10px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px
}

.tab:hover {
  background-color: #464742;
}

#add:hover {
  background-color: #464742;
}
